link(href="//fonts.googleapis.com/css?family=Droid+Sans", rel="stylesheet", type="text/css")
link(href="//fonts.googleapis.com/css?family=Francois+One&amp;v1", rel="stylesheet", type="text/css")
block fonts
