div#footer.clearfix
div#footercont.clearfix
    br
    div(align="center")
        div.fb-like(
            data-href="https://www.facebook.com/pages/California-Canvas/260911717360527",
            data-send="true",
            data-width="450",
            data-show-faces="true"
        )
        div.social
            br
            a(href="mailto:bobshapona@comcast.net")
                i.icono-mail
            a(href="http://www.facebook.com/pages/California-Canvas/260911717360527")
                i.icono-facebook
            a(href="https://twitter.com/CaliforniaCanva")
                i.icono-twitter
        div#contact
            p(align="center")
                font(color="#660033" size="5")
                    strong California Canvas - Manufacturing and Cleaning
                br
                |560 San Pablo Terrace
                br
                |Pacifica, CA 94044
                br
            p(align="center")
                |Contact us at&nbsp;
                a(href="mailto:bobshapona@comcast.net") bobshapona@comcast.net
            p(align="center")
                |Phone: (650) 873-3487
                br
                |Fax: (650) 873-5555
            p(align="center")
                a(href="http://www.californiacanvasdesigns.com/") www.californiacanvasdesigns.com

    div
        include ./google_search_bar.pug
