div.headercont
    a(href="index.html")
        img(
            src="assets/images/headfinal111.png",
            style="display: block; margin-left: auto; margin-right: auto; padding: 0px;",
            border="1",
            alt="California Canvas"
        )

div#maincont.clearfix
    ul#tabmenu
        li.active
            a(href="index.html", title="Home",)
                img(src="assets/images/button1.png", alt="Home", border="0")
        li
            a(href="awnings.html", title="Awnings",)
                img(src="assets/images/button2.png", alt="Awnings", border="0")
        li
            a(href="boats.html", title="Boats",)
                img(src="assets/images/button3.png", alt="Boats", border="0")
        li
            a(href="recovering.html", title="Recovering",)
                img(src="assets/images/button4.png", alt="Recovering", border="0")
        li
            a(href="about.html", title="About",)
                img(src="assets/images/button5.png", alt="About", border="0")
        li
            a(href="imagine.html", title="Imagine",)
                img(src="assets/images/button6.png", alt="Imagine", border="0")
