extends ./layout.pug

block content

    div.page-title.pure-g
        div.pure-u-1
            h1 About Us

    div.pure-g
        div.pure-u-1
            p
                |In a world of steadily diminishing quality and product longevity, it is always
                | refreshing to find a place where quality is cultivated and the clients satisfaction
                | is the number one concern. At California Canvas we are dedicated to giving our clients
                | the highest quality craftsmanship and the best service possible.
                | We feel confident that you, as a wise consumer, will be looking closely at awning
                | companies before you invest in one. All awnings and awning companies are not the same!!
                | Please take the time to notice the dramatic and obvious differences between awnings and
                | how they are constructed. We encourage you to look closely, scrutinize and compare our
                | work with others. We are very confident of our high quality awnings, not just from the outside,
                | but from the inside as well. It is all of the things that are not seen that are so very important.
                | As with any hand crafted item, the product is only as great as the craftsmen, their knowledge,
                | supervision and care. We feel, in order to make a wise decision, you must know as many facts about
                | the product as possible. We want to educate you about all of the things you must know about awnings.
                | There are definite reasons why things are done a certain way. Here are just few benefits California
                | Canvas has to offer.

            p
                strong Full Service Company:&nbsp;
                | We are a full service awning design, manufacturing and cleaning company, equipped
                | to satisfy all of your awning needs.

            p
                strong Professional Craftsmen:&nbsp;
                | All of our craftsmen are certified, knowledgeable professionals dedicated to quality and service.

            p
                strong Finest Material Available:&nbsp;
                | We use the highest quality materials available with each of our awnings. We fabricate with the brightest,
                | longest lasting, guaranteed fabrics on the market today. The materials used at California Canvas are
                | always the very finest available.

            p
                strong Treated Mig Welded Joints:&nbsp;
                | Our fully Mig welded joints are ground smooth and zinc coated for greater longevity, strength and aesthetic value.
                | Square stock frames are also available as well as aluminum frames.

            p
                strong Open Frame Ends Filled:&nbsp;
                | All open ends of the tube are filled, capped and welded to prevent water penetration.
                | This must be done or water will inevitably cause rotting from inside out.

            p
                strong Painted Frames:&nbsp;
                | We paint our fully galvanized frames with Rustoleum products to match the internal color
                | of the fabric. This creates a much more durable and aesthetic frame that will withstand
                | the test of time. Anchor bolt heads are meticulously touched up as well, for an unbeatable finish look.

            p
                strong Traditional French Seams:&nbsp;
                | Using the highest quality colored thread, our precision craftsmen sew each seam two times.
                | The first pass is for biting the fabric together. The second is for top sewing and penetrating
                | all thee layers of fabric. Other seams are much faster and easier to use, but "haste makes waste."
                | The life expectancy of these inferior seams is about 50% less than traditional French seams due
                | to their exposure to the elements.

            p
                strong Reinforced Corners:&nbsp;
                | The corners and tension spots of all our covers are reinforced to prevent the frame
                | from breaking through the fabric.

            p
                strong Wire Tap Application:&nbsp;
                | Our covers are attached to the frame with self-tapping screws accompanied with internal wire,
                | which creates proper reinforcement. This state of the art process creates a neat, clean, tailored finish.
                | Wire-tap applications will not hold water or promote rot, which is an obvious problem with lace-on applications.

            p
                strong Side wings Wrap Behind Frames:&nbsp;
                | All side wings are wrapped around the back of the frame where applicable. The cover is then
                | attached with the wire-tap application to insure the neat, clean, tailored, tight finish which is standard
                | at California Canvas.

            p
                strong Siliconed Bolts and Framework:&nbsp;
                | Anchor bolts are tightly siliconed into the wall to prevent water penetration that would otherwise
                | damage your building. The frame is also siliconed across the top, giving you double water penetration protection.

            p
                strong Pinch System Applied on Loose Valances:&nbsp;
                | Each awning with a loose valance must be attached with some form of technique. We have perfected
                | the pinch system. The actual cover is strategically folded and sewn to create an attachment point
                | that is actually an integral part of the top sheet and side wings, creating an awning that virtually
                | cannot fail at its perimeter attachment points. All awning companies use some form of independently
                | sewn in attachments making them susceptible to failure. Notice after big wind storms, the awnings with
                | independently sewn in attachments have failed and notice that, though the attachments are still securely
                | attached to the frame, the cover has separated from the attachments, rendering the life of the awning over,
                | before the life of the fabric is over.

            p
                strong Tenara/Gortex Thread with Lifetime Warrantee:&nbsp;
                | All of our covers are sewn together with tenara/Gortex thread coupled with our traditional
                | French seams giving you the longest lasting seams possible and a life time warrantee. Since
                | awnings usually fail at the seams first, it is comforting to know that Tenara Thread and French
                | seams are working together on the job.

            p
                strong Warranty:&nbsp;
                | we are so confident of our quality work that we offer a full 5-year factory warranty against
                | any defects. We also offer a 7 year extended warranty with a steam cleaning maintenance agreement.
                | Not only are all of these things standard at California Canvas, but they are also done professionally
                | and with pride, taking no shortcuts. We believe in giving our clients the best possible products money
                | can buy, while building in attributes that will make your awning last much longer. Our product is, in
                | essence, less expensive than even the least expensive awning because it will look better, last longer,
                | and perform the way an investment should.

            p
                | We encourage you to compare "apples to apples", and if you can get all of these things guaranteed to
                | you and have them executed properly, professionally, with pride, and still pay less, we recommend that
                | you buy that product.

            p
                | Quality is alive and well here at California Canvas, and if you have ever said,
                | "They sure don't make things like they used to," you're right. Here at California Canvas we make them
                | better than they used to.

            p
                | Thank you. All the best.







    block content-footer
        include ./includes/content_footer.pug
