extends ./layout.pug

block stylesheets
    link(rel="stylesheet", href="assets/libs/ideal-image-slider/ideal-image-slider.css")
    link(rel="stylesheet", href="assets/libs/ideal-image-slider/themes/default/default.css")

block scripts
    script(src="assets/libs/ideal-image-slider/ideal-image-slider.min.js")
    script.
        (function() {
            'use strict';
            var slider = new IdealImageSlider.Slider({
                selector: '#slider',
                effect: 'fade',
                interval: 6000,
                transitionDuration: 1000,
                disableNav: true
            });

            slider.start();
        })();


block content-top
    div.page-title.pure-g
        div.pure-u-1
            h1 Awnings

block content-left
    blockquote(dir="ltr")
        strong Business Awnings:
        br
        br
        |When you choose&nbsp;
        strong California Canvas Design  Manufacturing and Cleaning
        | you are making a sound business decision. A striking awning from us will attract customers to your shop by offering:
        br
        br

    ul
        li Covered Walkways - Protection from the Elements
        li
            div Patio Enclosures - Seating Outside in a Comfortable Climate Year Round
        li
            div Colorful Protection with Your Logo
        li
            div Entry Door Awnings with &quot;Drive By&quot; Name Recognition


    blockquote(dir="ltr")
        |Furthermore, we&rsquo;ll match your color and window scene with custom work
        |to ensure that your company&rsquo;s image is flawless. Don&rsquo;t wait.
        |Reap the benefits of a custom awning by calling us today.
        br
        br
        strong Residential Awnings:
        br
        br
        |Nothing is more calming than relaxing on a sunny summer&rsquo;s day under the cool shade of a customized awning.
        | Whether you&rsquo;re dreaming of a shady backyard barbecue on a golden afternoon or simply a little shelter from
        | the intense
        | sun, an awning from&nbsp;
        strong California Canvas Design  Manufacturing and Cleaning&nbsp;
        | will more than do the job.
        br
        br

block content-right
    div#slider
        img.pure-img(src="assets/images/shelvedesign.png", alt="Design & Manufacturing")
        img.pure-img(src="", data-src="assets/images/shelve44.png", alt="Business Awnings")
        img.pure-img(src="", data-src="assets/images/shelve4-1.png", alt="Residential Awnings")
        img.pure-img(src="", data-src="assets/images/shelveawn.png", alt="Colorful Awnings")
        img.pure-img(src="", data-src="assets/images/donald22.png", alt="Structured Awnings")
        img.pure-img(src="", data-src="assets/images/serra22.png", alt="Beautiful Awnings")
    div.estimates
        img.pure-img(src="assets/images/estimate.png")

block content-footer
    div.pure-g
        div.pure-u-1
            br
            br
            |Our awnings offer:
            ul
                li Protection from the Weather and Insects
                li Add Beauty and Value to Your Home
                li Add Privacy
                li Vinyl Enclosures Offer Weather Resistant Comfort - Easy On and Off
                li Open Air Awnings - Free Movement with Sun and Rain Protection

            img.pure-img.img-center(src="assets/images/about/awning types 575.jpg" alt="awning types")

    include ./includes/content_footer.pug
