extends ./layout.pug

block content
    div#mainright
        br
        div(style="margin-left: 210px;")
            img(src="assets/images/welcome.png" alt="welcome to california canvas!")
        br
        div.rightcolumn
            div.rotator
                ul
                    li.show
                        a(href="javascript:void(0)")
                            img(src="assets/images/shelvedesign.png", width="600", height="600", alt="Design & Manufacturing")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/shelve4.png", width="600", height="600", alt="Business Awnings")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/shelve4-1.png", width="600", height="600", alt="Residential Awnings")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/shelveawn.png", width="600", height="600", alt="Colorful Awnings")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/donald22.png", width="600", height="600", alt="Structured Awnings")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/serra22.png", width="600", height="600", alt="Beautiful Awnings")
            img(src="assets/images/estimate.png", style="margin-left: 20px; margin-top: -8px;", border="0")
        br

        p Awnings and canopies are an economical way to add value to your home or business. A beautiful, custom-made awning from California Canvas Design Manufacturing and Cleaning will protect your home from the elements, keeping it cool during the scorching
            summer months. And, for your business, what better way to attract customers than by offering them comfortable outdoor seating year-round? We are custom specialists. We offer repairs of all types, free estimates and design. Below is a list
            of just some of our capabilities:
        div#boldlist
            ul
                li Fixed &amp; Retractable Awnings
                li Back-lit Awnings
                li Recovering's
                li Vertical Drop Shades
                li Lettering-Graphics
                li Cleaning-Repairs
                li Interior &amp; Exterior
                li Commercial, Residential, &amp; Industrial
                li Storm Damage Specialist's
                li Boat Tops, &amp; Covers
                li Mooring Covers
                li Custom Framing &amp; Sewing
                li Design Service's


        div(style="width: 1100px;margin-left: auto; margin-right: auto;")
            u Sponsors &amp; Affiliations
            br
            br
            a(href="http://www.easternawning.com/")
                img(src="assets/images/east.jpg", border="0")
            br
            br
            a(href="http://www.trivantage.com/")
                img(src="assets/images/tri.jpg", border="0")
            br
            br
            a(href="http://www.sunbrella.com/")
                img(src="assets/images/sunbrela.jpg", border="0")

        div(style="width: 600px;margin-left: auto; margin-right: auto; font-size: 36px; font-weight: normal; letter-spacing: -1px;")
            //- font-family: Times New Roman, 'Francois One', Arial, Helvetica, sans-serif;")
            |California Canvas | Based in Pacifica,
            br
            |serving San Francisco &amp; the Bay Area
