doctype html
include ./includes/head.pug
body
    include ./includes/header.pug
    div.content-container
        block content

            block content-top
                | Default content top

            div.pure-g
                div.content-left.pure-u-1.pure-u-md-1-2
                    div.wrapper
                        block content-left
                            | Default content left
                div.content-right.pure-u-1.pure-u-md-1-2
                    div.wrapper
                        block content-right
                            | Default content right

            block content-footer
                include ./includes/content_footer.pug


    include ./includes/footer.pug
    include ./includes/scripts.pug
