extends ./layout.pug

block content

    div.page-title.pure-g
        div.pure-u-1
            h1 Cleaning &amp; Recovering

    div.pure-g
        div.pure-u-1
            p
                |Part of the service that we offer to each and every one of our
                | customers is cleaning and re-covering of all our canvas and
                | manufactured products. Like anything else, these products will
                | last much longer if they are properly cared for and maintained.
                | Over time the sun, rain, wind and other natural elements will take
                | their toll on the strength and durability of canvas products.
                | Bring them to us for complete cleaning and re-covering and we guarantee
                | you'll save money in the long run!

            br
            img.pure-img.img-center(src="assets/images/cleanrepair.png")

    block content-footer
        include ./includes/content_footer.pug
